* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background-color: #111;
    overflow: hidden;
    overflow-y: auto;
  }
  
  
  .container {
    display: flex;
    margin-top: -20%;
    justify-content: center;
    align-items:center;
  }
  
  .card-6, .card-5, .card-4, .card-3, .card-2, .card-1 {
    position: absolute;
    width: calc(300px - 30px);
    height: 200px;
    background-color: #242224;
    border-radius: 10px;
  }
  
  .slide {
    width: calc(300px - 30px);
    height: 200px;
    border-radius: 10px;
  }
  
  /* ***** Global Styles - End ***** */
  /* ***** Specific Styles - Start ***** */
  .container {
    height: 100vh;
  }
  
  .card-1 {
    top: 10px;
    left: -200px;
    transform: rotate(-20deg);
  }
  
  .card-2 {
    top: calc(calc(300px - 30px) - 20px);
    left: -120px;
    transform: rotate(-20deg);
  }
  
  .card-3 {
    top: calc(calc(300px - 30px) * 2 - 50px);
    left: -35px;
    transform: rotate(-20deg);
  }
  
  .card-4 {
    bottom: 10px;
    right: -200px;
    transform: rotate(-20deg);
  }
  
  .card-5 {
    bottom: calc(calc(300px - 30px) - 20px);
    right: -120px;
    transform: rotate(-20deg);
  }
  
  .card-6 {
    bottom: calc(calc(300px - 30px) * 2 - 50px);
    right: -35px;
    transform: rotate(-20deg);
    overflow: hidden;
  }
  
  .card-stack {
    display: flex;
    position: relative;
    top:auto;
    justify-content: center;
    width: 300px;
    height: 550px;
    background-color: #242224;
    border-radius: 20px;
    
  }
  .card-stack .balance {
    position: absolute;
    width: 100%;
    margin-top: 240px;
    margin-left: -30px;
    font-size: 11px;
    color: #fff;
  }
  .card-stack .balance span {
    font-size: 18px;
  }
  
  .swiper-container {
    display: flex;
    width: calc(300px - 30px);
    height: 200px;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 15px;
  }
  
  .slide {
    position: absolute;
    font-size: 18px;
    padding: 20px;
    background: #fff;
    cursor: pointer;
    outline: none;
  }
  .slide .bank-name {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 12px;
  }
  .slide .bank-name span {
    font-size: 18px;
    color: grey;
  }
  .slide .bank-name img {
    margin: -15px -10px 0 0;
  }
  .slide img {
    margin: 10px 0;
  }
  .slide .card-number {
    font-size: 15px;
  }
  .slide .personal-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 12px;
  }
  .slide.slide-3 {
    width: calc(calc(300px - 30px) - 30px);
    margin-top: -30px;
    background: #486fe9;
    z-index: 1;
    color: #fff;
  }
  .slide.slide-3 span {
    color: #fff;
    opacity: 0.5;
  }
  .slide.slide-2 {
    width: calc(calc(300px - 30px) - 15px);
    background-color: #fff;
    z-index: 2;
  }
  .slide.slide-1 {
    margin-top: -320px;
    z-index: 3;
    color: #fff;
    background-color: rgb(0, 0, 0);
  }
  
  /* ***** Specific Styles - End ***** */
  /* ***** Media Queries - Start ***** */
  @media screen and (max-width: 650px) {
    .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6 {
      display: none;
    }
  }

  
    a.button1{
      display:inline-block;
      padding:0.35em 1.2em;
      border:0.2em solid #ffffff;
      margin:0 0.3em 0.3em 0;
      border-radius:0.9em;
      box-sizing: border-box;
      text-decoration:none;
      background-color: transparent;
      font-family:'Roboto',sans-serif;
      font-weight:300;
      color:#ff0000;
      text-align:center;
      transition: all 0.2s;
      position: relative;
      top: 40%;
      left: 23%;
      z-index: 4;
      }
      a.button1:hover{
      color:#ffffff;
      background-color:#910202;
      }
      @media all and (max-width:3em){
      a.button1{
      display:block;
      margin:0.4em auto;
      top: 51%;
      left: 50%;
      }
      }